.login-container {
    width: 1280px;
    height: 791px;
    background: #f9fafb;
}

.header {
    width: 1280px;
    height: 89px;
    padding: 24px 32px;
    gap: 16px;
}

.logo {
    width: 121px;
    height: 41px;
}

.comment-note {
    position: absolute;
    left: 866px;
    top: 23px;
    width: 380px;
    height: 109px;
}

.login-form {
    position: absolute;
    left: 420px;
    top: 160px;
    width: 480px;
    height: 291px;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    opacity: 1;
    border-radius: 0;
    box-sizing: border-box;
}

.login-block {
    width: 480px;
    height: 291px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    padding: 0;
    opacity: 1;
    border-radius: 0;
}

.text-label {
    width: 66px;
    height: 20px;
    display: inline-block;
    font-family: "Hiragino Sans", sans-serif;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.04em;
    color: #000;
    opacity: 1;
    align-self: center;
}

.ui-panel {
    width: 480px;
    height: 202px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 24px 48px;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #d1d5db;
    overflow: hidden;
    opacity: 1;
}

.w7-text {
    width: 154px;
    height: 30px;
    align-items: center;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.1em;
    color: #000;
    opacity: 1;
}

.line-btn {
    width: 240px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 0 20px;
    box-sizing: border-box;
    background: #06c755;
    border-radius: 100px;
    overflow: hidden;
    opacity: 1;
    border: none;
}

.line-logo {
    width: 20px;
    height: 20px;
}

.text-white-14 {
    width: 163px;
    height: 21px;
    display: inline-block;
    font-family: "Hiragino Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #ffffff;
    opacity: 1;
}

.primary-base-group {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 162px;
    height: 21px;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;
    opacity: 1;
    border-radius: 0;
    align-self: center;
}

.text-w5-14 {
    width: 138px;
    height: 21px;
    display: flex;
    font-family: "Hiragino Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    color: #111958;
    text-decoration: underline;
}
