@import "tailwindcss";

@theme inline {
  /* Default */
  --color-background-default: #ffffff;
  --color-txt-default: #2d2d2d;

  /* Màu chính */
  --color-blue-primary: #111958;
}

body {
  background: var(--color-background-default);
  color: var(--color-txt-default);
  font-family:
    "Hiragino Sans", "ヒラギノ角ゴ ProN", "Noto Sans JP", "Noto Sans",
    "Segoe UI", Roboto, Arial, sans-serif;
}

.font-noto-jp {
  font-family: "Noto Sans JP", "Noto Sans", sans-serif !important;
}
