@import "tailwindcss";

@theme inline {
  /* Default */
  --color-background-default: #ffffff;
  --color-txt-default: #2d2d2d;

  /* Màu chính */
  --color-blue-primary: #111958;
  --color-red-primary: #ff5252;

  /* Màu phụ */
  --color-gray-primary-light: #e5e7f5;
  --color-natural-gray-200: #d0d0d0;
}

/* ------------------ Css chung -------------- */
body {
  background: var(--color-background-default);
  color: var(--color-txt-default);
  font-family:
    "Hiragino Sans", "ヒラギノ角ゴ ProN", "Noto Sans JP", "Noto Sans",
    "Segoe UI", Roboto, Arial, sans-serif;
}

.font-noto-jp {
  font-family: "Noto Sans JP", "Noto Sans", sans-serif !important;
}

/* --------------- Page Home ---------------- */
/* Slider Logo */
@keyframes slide-logos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide-logos 100s linear infinite;
}
